// This file is used as a template or reference for environment vartiables reqired to run the API
// Excluded from .gitignore

PORT=3000
DATABASE_URL=your_database_url_here
API_KEY=your_api_key_here
JWT_SECRET=your_jwt_secret_here
